In [1]:
import cv2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Question 3

In [5]:
points = pd.read_csv('q3_selected_points_refined.csv')
points

                    image  set_num   x    y
0    m2_samples_563_0.png        1  69   43
1    m2_samples_563_0.png        1  83   38
2    m2_samples_563_0.png        1  84   74
3    m2_samples_563_0.png        1  89   86
4    m2_samples_563_0.png        1  74   95
..                    ...      ...  ..  ...
175  m2_samples_533_4.png        3  72   81
176  m2_samples_533_4.png        3  79  107
177  m2_samples_533_4.png        3  91   88
178  m2_samples_533_4.png        3  55   83
179  m2_samples_533_4.png        3  41   64

[180 rows x 4 columns]

In [6]:
ex_img = 'm2_samples_533_4.png'
ex_setnum = 2 
points[(points['image'] == ex_img) & (points.set_num == ex_setnum)]

                    image  set_num    x    y
150  m2_samples_533_4.png        2   49   64
151  m2_samples_533_4.png        2  101   66
152  m2_samples_533_4.png        2   82   33
153  m2_samples_533_4.png        2   67   71
154  m2_samples_533_4.png        2   63   96
155  m2_samples_533_4.png        2   77   64
156  m2_samples_533_4.png        2   61   79
157  m2_samples_533_4.png        2   80   84
158  m2_samples_533_4.png        2   83   99
159  m2_samples_533_4.png        2   46  101
160  m2_samples_533_4.png        2   93   75
161  m2_samples_533_4.png        2   43   45
162  m2_samples_533_4.png        2   46   63
163  m2_samples_533_4.png        2   81   64
164  m2_samples_533_4.png        2   66   92

`x` is the x-axis, `y` is the y-axis. In an image `x` is column index and `y` is row index